<h1>Welcome</h1>
<p>You are loggedin</p>
<p>
	<%= link_to "Logout", :controller => "admin", :action => "logout" %>
</p>
<p>
	<table class="adminTable">
	<tr>
		<th>Application name:</th>
		<th>Email:</th>
		<th>API Key:</th>
		<th>Created:</th>
	</tr>
		<% @api_keys.each do |i| %>
			<tr>
				<td><%= i.applicationname %></td>
				<td><%= i.email %></td>
				<td><%= i.apikey %></td>
				<td><%= i.created_at %></td>
				<td><%= link_to "Show", admin_path(i) %></td>
				<td><%= link_to "Edit", edit_admin_path(i) %></td>
				<td><%= link_to "Delete", admin_path(i), confirm: "Are you sure you want to delete this application?", method: :delete %></td>
			</tr>
		<% end %>
	</table>
</p>
