<h1>Login</h1>
<p>
	<%= form_for :login, url: { controller: "admin", action: "login" } do |f| %>
		<p>
			<%= f.label :username %>
			<%= f.text_field :username %>
		</p>
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>
</p>
