<h1>Sign in</h1>
<p>
	<% if flash[:notice] %>
		<div class="Error"><%= flash[:notice] %></div>
	<% end %>
</p>
<p>
	<%= form_for :login, url: { controller: "admin", action: "login_attempt" } do |f| %>
		<p>
			<%= f.label :username %>
			<%= f.text_field :username %>
		</p>
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>
</p>
