<h1>Register for APIKey</h1>
<p>
	<%= form_for @appinfo, :url => { :controller => "home", :action => "create" } do |f| %>
		<p>
			<ul>
				<% @appinfo.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</p>
		<p>
			<%= f.label :applicationname %><br>
			<%= f.text_field :applicationname %>
		</p>	
		<p>
			<%= f.label :email %><br>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>
</p>
<p>
	<%= link_to "Back to startpage", :controller => "home", :action => "index" %>
</p>
