<h1>Sign in</h1>
<p>
	<% if flash[:loginnotice] %>
		<div class="Error"><%= flash[:loginnotice] %></div>
	<% end %>
</p>
<p>
	<%= form_for :login, url: { controller: "login", action: "login_attempt" } do |f| %>
		<p>
			<%= f.label :username %>
			<%= f.text_field :username %>
		</p>
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>
		<p>
			<%= f.submit "Login" %>
		</p>
	<% end %>
</p>
<p>
	<%= link_to "Back to startpage", :controller => "home", :action => "index" %>
</p>
